*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/*.react-switch-bg{*/
/*    background: #28A745 !important;*/
/*}*/
.btn-success {
    background: #28A745 !important;
}

.btn-primary {
    background: #007bff !important;
}

.btn-danger {
    background: #DC3545 !important;
}

.pt-5 {

}

body {
    margin: 0;
    font-family: 'Prompt', sans-serif;
    /*font-size: 1.4rem;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;


}

.app {
    /*display: flex;*/
    background-color: #eeeeee;
    height: 100vh;
    overflow: auto;

}

a {
    -webkit-transition: color .3s ease;
    transition: color .3s ease;
}

a > svg {
    margin-right: 5px;
}

.user-image {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background: #cccccc;
}

.r-10 {
    border-radius: 10px !important;

    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 14px;
}

.r-5 {
    border-radius: 5px;
}

.btn {
    font-weight: 500;
    border: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .6rem !important;
    -webkit-transition: 0.5s;
}

.btn-search-sw {
    background: #BDBDBD;
    color: black;
}

.btn-info {
    background: #40798C;
    color: white;
}

.spinner {
    animation: spin 1.5s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.switch-line > div {
    /*border-bottom: 1px solid #ccc;*/
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.btn-group > .btn {
    border-radius: 0 !important;
}

.btn-secondary.focus, .btn-secondary:focus {
    color: #fff;
    background-color: #5a6268;
    border-color: #545b62;
    box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, .5);
}

.btn-group > .btn:first-child {
    border-radius: 5px 0 0 5px !important;
}

.btn-group > .btn:last-child {
    border-radius: 0 5px 5px 0 !important;
}

.btn-group > .btn:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.only-border-bottom {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.input-group-prepend {
    background: none !important;
}

.input-group-text {
    background: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0 !important;
}

/*body {*/
/*    margin-bottom: 100px;*/
/*}*/